.individualImage {
    max-width: 100px;
    min-height: 100px;
}

.likeButton {
    background-color: #4a6d88;
    width: 100px;
    color:#4a6d88;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 3px;    
    border-radius: 6px;
    margin-top: 10px;
}

.individualImage {
    border-radius: 4px;
    border: solid #444 1px;
    padding: 4px;
}

.numLikes {
    color: #4a6d88;
    font-size: 14px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deleteButton {
    background-color: #444;
    color:blanchedalmond;
}