form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 90%;
    margin: 10px auto;
}


input {
    margin-left: 20px;
    height: 30px;
    width: 250px;
    padding: 5px;
    font-size: 14px;
    margin-top: 20px;
}

#submitButton {
    height: 40px;
    width: 130px;
    padding: 5px;
    border-radius: 4px;
    background-color: darkgreen;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
}
